body {
    background-color: #556B2F;
 font-family: 'Kufam', cursive;

    color: wheat;
}
#Alex {
    display: flex;
    width: 40vw;
    height: 70vh;
    margin: 0 auto;
    border-radius: 5px;
    border: 35px solid #ff6961;
}

.me {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: wheat;
    
    
}
.intro {
    text-align: center;
    font-size: 35px;
}
.personalintro {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

.projects {
    font-size: 35px;
    text-align: center;
}

.proj1{
    color: #ff6961;
    font-size: 30px;
}

.proj2repo {
    color: #ff6961;
    font-size: 30px;
}
.p2link{
    color: #ff6961;
    font-size: 30px;
}
.frontrepo{
    color: #ff6961;
    font-size: 30px;
}
.backendrepo{
    color: #ff6961;
    font-size: 30px;
}
.playlist{
    color: #ff6961;
    font-size: 30px;
}

.projects{
    font-size: 55px;
}
.p1{
  font-size: 45px;
  text-decoration: none;
}
.p1desc{
    font-size: 40px;
}

.p2{
    font-size: 45px;
}
.p2desc{
    font-size: 40px;
}

.p3{
    font-size: 45px;
}
.p3desc{
    font-size: 40px;
}

.p4{
    font-size: 45px;
}
.p4desc{
    font-size: 40px;
}
.list{
    text-decoration: none;
}
.list{
    
}